{% extends "layout.html" %}
{% block body %}
<head>
    <title>Carga Trabajos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="addMat">
  Cargar Materiales
</button>

<form action="/add_job" method="POST">

          <div class="form-group">
            <label class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" name="tname">
          </div>

          <div class="form-group">
            <label class="form-label mt-4">Precio de Mano de Obra</label>
            <input type="text" class="form-control" name="tprice">
            </div>
          <div class="form-group">
            <label class="form-label mt-4">Descripcion</label>
            <input type="text" class="form-control"  name="tdesc">
          </div>
        <div class="form-group">
            <label  class="form-label mt-4">Medicion</label>
            <select class="form-select" name="med">
                <option>Metros Cuadrados / (m2)</option>
                <option>Metros Cubicos / (m3)</option>
            </select>
          </div>

        <div class="form-group">
            <label class="form-label mt-4">Materiales</label>
        <table>
            {% for mat in mats %}
                <td>
                    <label><input type="checkbox" value="{{mat.name}}" name="check" id="check">{{mat.name}}</label>
                    <input type="text" class="form-control" id="mcant" name="mcant">
                 </td>
            {% endfor %}
        </table>
        </div>



    <br>
    <br>
        <button type="submit" class="btn btn-success">Guardar</button>


</form>

</body>
<script>
    function enableMats() {
  if (document.getElementById("check").checked) {
    document.getElementById("mcant").classList.remove('disable-section')
  } else {
    document.getElementById("mcant").classList.add('disable-section')
  }
}
</script>
{% endblock %}