{% extends "layout.html" %}
{% block body %}

<body>

<a type="button" class="btn btn-primary center" href="/pres">Volver</a>
{% if pres.0.status == "Abierto"%}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addJobs">
      Añadir Trabajo
    </button>
{% endif %}
<H1>Total: {{pres.0.getBudget()}}</H1>
<table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray">Precio Mano de Obra</td>
                    <td style="background: dimgray" >Precio Materiales</td>
                    <td style="background: dimgray" >Superficie</td>
                    <td style="background: dimgray" >Descripcion</td>
                    {% if pres.0.status == "Abierto"%}
                        <td style="background: dimgray" >Opciones</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lst in listado %}
                <tr>
                    <td>{{lst.name}}</td>
                    <td>{{lst.priceM}}</td>
                    <td>{{lst.totalM}}</td>
                    <td>{{lst.Superficie}} {{lst.Medicion}}</td>
                    <td>{{lst.desc}}</td>
                    {% if pres.0.status == "Abierto"%}
                    <td>
                        <a type="button" class="btn btn-danger" href="/delJ/{{lst.name}}/{{pres.0.oname}}">Borrar</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
</table>


<a type="button" class="btn btn-primary center" href="/details/{{pres.0.oname}}">Generar Planilla</a>
<!-- Modal -->
        <div class="modal" id="addJobs">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Trabajos Disponibles</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/add_pr/{{pres.0.oname}}" method="POST">

          <div class="form-group">
            <label class="form-label mt-4">Cantidad</label>
            <input type="text" class="form-control" name="cant">
          </div>

            <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Trabajos</label>
            <select class="form-select" id="exampleSelect1" name="jb">
              {% for job in jobs %}
                <option>{{job.name}}</option>
                {% endfor %}
            </select>
          </div>

          <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>


      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
        <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Carga de Material</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/add_job" method="POST">

          <div class="form-group">
            <label class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" name="tname">
          </div>

          <div class="form-group">
            <label class="form-label mt-4">Precio</label>
            <input type="text" class="form-control" name="tprice">
            </div>
          <div class="form-group">
            <label class="form-label mt-4">Descripcion</label>
            <input type="text" class="form-control"  name="tdesc">
          </div>


          <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>


      </form>
      </div>
    </div>
  </div>
</div>

    </body>
</html>

</body>
</html>
{% endblock %}