{% extends "layout.html" %}
{% block body %}

<body>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" class="btn btn-primary center" href="/jobs" style="white-space: nowrap; width: 200px">Trabajos</a></div>
      <div class="card-body">
        <img src="static/img/pres.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" href="/mats" class="btn btn-primary center" style="white-space: nowrap; width: 200px">Materiales</a></div>
      <div class="card-body">
        <img src="static/img/mats.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" href="/clients" class="btn btn-primary center">Clientes</a></div>
      <div class="card-body">
        <img src="static/img/proy.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" class="btn btn-primary center" href="/prov" style="white-space: nowrap; width: 200px">Proveedores</a></div>
      <div class="card-body">
        <img src="static/img/pres.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>


  </div>
</div>




</body>
</html>
{% endblock %}