{% extends "layout.html" %}
{% block body %}

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Gestion Proyecto</title>
</head>
<body>
    <section>
    <h1>{{data.pname}}</h1>
    <h3>Situacion Financiera</h3>
    <h4>Presupuestado: {{data.presupuestado}}</h4>
    <h4>Presupuesto Actual: {{data.budget}}</h4><br>
    <table>
    <td>
        <h4>Opciones de Proyecto</h4>
        <a type="button" class="btn btn-warning" href="/proyReport/{{data.pname}}">Generar Reporte</a>
        <a type="button" class="btn btn-danger" onclick="return confirm('Esta seguro?');" href="/finish/{{data.pname}}">Finalizar Obra</a>
    </td>
    </table>
        <br>
        <br>
    <table>
    <td>
        <h4>Materiales y Pagos</h4>
        <a type="button" class="btn btn-success" href="/verPagos/{{data.pname}}">Ver Pagos</a>
        <a type="button" class="btn btn-success" data-toggle="modal" href="#addMats">Realizar Pedido de Materiales</a>
        <a type="button" class="btn btn-primary" href="/pedH/{{data.pname}}">Ver Historial de Pedidos</a>
        <a type="button" class="btn btn-warning" href="/bajH/{{data.pname}}">Ver Historial de Bajas</a>
    </td>
    </table>
    <br>

    </section>
    <br>
    <table>
    <td>
        <h4>Trabajos</h4>
        <h5>Capataz: {{data.Capataz.name}} ({{data.Capataz.ced}})</h5>
        <a type="button" class="btn btn-success" data-toggle="modal" data-target="#addCptz">Asignar Capataz</a>
    </td>
    </table>
    <br>
    <button type="button" class="btn btn-danger" id="hideClient" onclick="toggleJobs();">Trabajos Pendientes</button>
    <button type="button" class="btn btn-warning" id="trP" onclick="toggleJobsP();">Trabajos En Progreso</button>
    <button type="button" class="btn btn-success" id="hideJD" onclick="toggleJobsD();">Trabajos Completados</button>
    <br>
    <br>

    <table id="tablaJobsR" class="table table-striped table-hover table-bordered table-danger" style="display:none">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Materiales</td>
                    <td style="background: dimgray" >Descripcion</td>
                    <td style="background: dimgray" >Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for tr in data.TrabajosR %}
                <tr>
                    <td>{{tr.name}}</td>
                    <td>
                        {% for mt in tr.Materiales %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>{{tr.desc}}</td>
                    <td>
                        <a type="button" class="btn btn-success" href="/startJ/{{tr.name}}/{{data.pname}}">Empezar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>
<table id="tablaJobsP" class="table table-striped table-hover table-bordered table-warning" style="display:none">
            <thead>
            <a type="button" class="btn btn-warning" data-toggle="modal" href="#addExtraMats">
                Asignar Extra Materiales
            </a>
            <br>
            <br>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Materiales Nec.</td>
                    <td style="background: dimgray" >Materiales Asig.</td>
                    <td style="background: dimgray" >Obreros</td>
                    <td style="background: dimgray" >FechaInicio</td>
                    <td style="background: dimgray" >Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for tr in trps %}
                <tr>
                    <td>{{tr.tpname}}</td>
                    <td>
                        {% for mt in tr.matsNec %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if tr.matsDisp != None%}
                            {% for mt in tr.matsDisp %}
                                {{mt.name}}:{{mt.cant}}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if tr.Obreros != None%}
                            {% for ob in tr.Obreros %}
                                {{ob.Nombre}} / {{ob.Ocupacion}}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{tr.fechaInicio}}</td>
                    <td>
                        <a type="button" id="tp-name" class="btn btn-primary" href="/pend/{{tr.tpname}}/{{data.pname}}">
                            Asignar Obrero
                        </a>
                        {% if tr.matsDisp == None and tr.matsNec %}
                        <a type="button" class="btn btn-success" href="/pendC/{{tr.tpname}}/{{data.pname}}">
                            Asignar Materiales
                        </a>
                        {% endif %}
                        <a type="button" class="btn btn-success" onclick="return confirm('Esta seguro?');" href="/comp/{{tr.tpname}}/{{data.pname}}">Finalizar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
</table>
<table id="tablaJobsD" class="table table-striped table-hover table-bordered table-success" style="display:none">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Mat. Ponderados</td>
                    <td style="background: dimgray" >Mat. Utilizados</td>
                    <td style="background: dimgray" >Obreros</td>
                    <td style="background: dimgray" >Finalizo</td>
                </tr>
            </thead>
            <tbody>
            {% if data.TrabajosD != None%}
                {% for tr in data.TrabajosD %}
                <tr>
                    <td>{{tr.tpname}}</td>
                    <td>
                        {% for mt in tr.matsNec %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if tr.matsDisp %}
                        {% for mt in tr.matsDisp %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% for ob in tr.Obreros %}
                            {{ob.Nombre}} / {{ob.Ocupacion}}<br>
                        {% endfor%}
                    </td>
                    <td>
                        {{tr.fechaFin}}
                    </td>

                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
</table>
<br>
<br>
    <h4>Materiales</h4>
    <table>
    <tbody>

    <tr>
        <td>
        <div class="card border-warning mb-3" style="max-width: 20rem;">
          <div class="card-header">Materiales Necesarios</div>
          <div class="card-body">
              {% for name, cant in data.MatsFaltantes.items()%}
            <p class="card-text"> {{name}}:{{cant}}</p>
              {% endfor %}
          </div>
        </div>
            </td>
        <td>
        <div class="card border-success mb-3" style="max-width: 20rem;">
          <div class="card-header">Disponible en Deposito</div>
          <div class="card-body">
              {% if depo != None%}
                {% for name, cant in depo.items()%}
                    <p class="card-text">{{name}}:{{cant}}</p>
                {% endfor %}
              {% endif %}
              <a type="button" class="btn btn-success" data-toggle="modal" href="#bajMats">Dar de Baja Materiales</a>
          </div>
        </div>
        </td>
    </tr>
    </tbody>
    </table>



<div class="modal" id="addMats">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Pedir Materiales</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/add_ped/{{data.pname}}" method="POST">

            <div class="form-group">
                        <label  class="form-label mt-4">Material</label>
                        <select class="form-select"  name="mat">
                            {% for mt in mats %}
                                <option>{{mt.name}} / {{mt.type}}</option>
                            {% endfor %}
                        </select>
            </div>

           <div class="form-group">
            <label class="form-label mt-4">Cantidad</label>
            <input type="text" class="form-control" name="cant">
          </div>


          <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>


      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="bajMats">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remover Materiales</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/bajMat/{{data.pname}}" method="POST">

            <div class="form-group">
                        <label  class="form-label mt-4">Material</label>
                        <select class="form-select"  name="mat">
                            {% for mt in mats %}
                                <option>{{mt.name}} / {{mt.type}}</option>
                            {% endfor %}
                        </select>
            </div>

           <div class="form-group">
            <label class="form-label mt-4">Cantidad</label>
            <input type="text" class="form-control" name="cant">
          </div>

            <div class="form-group">
            <label class="form-label mt-4">Motivo</label>
            <input type="text" class="form-control" name="razon">
          </div>


          <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>


      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addExtraMats">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Asignar Extra Materiales</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/addExtra/{{data.pname}}" method="POST">
            <div class="form-group">
                <label  class="form-label mt-4">Trabajo</label>
                    <select class="form-select"  name="tp">
                        {% for tr in trps %}
                            {% if tr.matsDisp != None %}
                                <option>{{tr.tpname}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </div>

            <div class="form-group">
                <label  class="form-label mt-4">Material</label>
                    <select class="form-select"  name="mat">
                        {% for mt in mats %}
                        <option>{{mt.name}} / {{mt.type}}</option>
                        {% endfor %}
                    </select>
            </div>

           <div class="form-group">
            <label class="form-label mt-4">Cantidad</label>
            <input type="text" class="form-control" name="cant">
          </div>


          <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>


      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addCptz">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Asignar Capataz</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/assignCptz/{{data.pname}}" method="POST">

          <div class="form-group">
            <label class="form-label mt-4">Obreros Disponibles</label>
            <select class="form-select" name="cap">
               {% for obr in obrs%}
                    {% if obr.isActive == "Si"%}
                        <option>{{obr.name}} / {{obr.ced}}</option>
                    {% endif%}
               {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>


      </form>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock %}