{% extends "layout.html" %}
{% block body %}
<body>
    <a type="button"  class="btn btn-primary" href="/deetsProy/{{proy}}">Volver</a>
    <br>
    <br>
    <table>
    <tbody>

    <tr>
    {% if pedidos %}
    {% for ped in pedidos%}
        <td>
            <div class="card border-success mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <p class="card-text">
                        <h3>Fecha: {{ped.fecha}}</h3><br>
                        Material: {{ped.Material.name}}<br>
                        Cantidad: {{ped.Material.cant}} {{ped.Material.type}}<br>
                        Monto Total: {{ped.Material.total}} Gs.<br>
                        Proveedor: {{ped.Material.Proveedor.name}}<br>
                        Contacto: {{ped.Material.Proveedor.cel}}<br>
                    </p>
                  </div>
            </div>

            </td>
    {% endfor %}
    {% else %}
        Nada por aqui.
    {% endif %}
    </tr>
    </tbody>
    </table>
</body>
{% endblock %}