{% extends "layout.html" %}
{% block body %}

<body>
    {% if current_user.is_authenticated %}
    <h1>Bienvenido {{ current_user.name }}!</h1>
    {% endif %}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" class="btn btn-primary center" href="/pres" style="white-space: nowrap; width: 200px">Elaborar Presupuesto</a></div>
      <div class="card-body">
        <img src="static/img/pres.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" href="/pers" class="btn btn-primary center" style="white-space: nowrap; width: 200px">Ver Personal</a></div>
      <div class="card-body">
        <img src="static/img/mats.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a type="button" href="/proy" class="btn btn-primary center">Ver Proyectos</a></div>
      <div class="card-body">
        <img src="static/img/proy.jpg" style="max-height: 500px; max-width: 285px">
      </div>
    </div>
    </div>
  </div>
</div>




</body>
</html>
{% endblock %}