{% extends "layout.html" %}
{% block body %}

<body>
<h3>{{title}}</h3>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Cargar Material
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMats">
  Anhadir Material
</button>-->
<label>Nombre:</label>
<input type="text" id="nname" value={{job.name}}>
<br>
<br>

<table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray">Precio Unitario</td>
                    <td style="background: dimgray" >Cantidad</td>
                    <td style="background: dimgray" >Total</td>
                    <td style="background: dimgray" >Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for mat in mats %}
                <tr>
                    <td>{{mat.name}}</td>
                    <td>{{mat.price}}</td>
                    <td>{{mat.cant}}</td>
                    <td>{{mat.total}}</td>
                    <td>
                        <a type="button" class="btn btn-warning" >Editar</a>
                        <a type="button" class="btn btn-danger" >Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>


</body>
{% endblock %}