{% extends "layout.html" %}
{% block body %}

<body>
<h3>{{title}}</h3>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Cargar Material
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMats">
  Anhadir Material
</button>-->
<label>Nombre:</label>
<input type="text" id="nname" value={{job.name}}>
<br>
<br>

<form action="/editJob/{{job.name}}" method="POST">

          <div class="form-group">
            <label class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" name="tname" value={{job.name}}>
          </div>

          <div class="form-group">
            <label class="form-label mt-4">Precio de Mano de Obra</label>
            <input type="text" class="form-control" name="tprice" value="{{job.priceM}}">
            </div>
          <div class="form-group">
            <label class="form-label mt-4">Descripcion</label>
            <input type="text" class="form-control"  name="tdesc" value="{{job.desc}}">
          </div>
        <div class="form-group">
            <label  class="form-label mt-4">Medicion</label>
            <select class="form-select" name="med">
                <option>Metros / (m)</option>
                <option>Metros Cuadrados / (m2)</option>
                <option>Metros Cubicos / (m3)</option>
            </select>
          </div>

        <div class="form-group">
            <label class="form-label mt-4">Materiales</label>
            <br>

        <table>
            {% if job.Materiales|length == 0 %}
            No hay materiales en la BD.
            {% else %}
            {% for mat in job.Materiales %}
                <td>
                    <label><input type="checkbox" value="{{mat.name}}" name="check" id="check">{{mat.name}}</label>
                    <input type="text" class="form-control" id="mcant" name="mcant" value="{{mat.cant}}">
                 </td>
            {% endfor %}
            {% endif %}
        </table>
        </div>



    <br>
    <br>
        <button type="submit" class="btn btn-success">Guardar</button>


</form>


</body>
{% endblock %}