{% extends "layout.html" %}
{% block body %}

<body>
    <form action="/logear" method="POST" autocomplete="off">
        <fieldset>
            <legend>Login</legend>

                <div class="form-group">
                  <label  class="form-label mt-4">ID Usuario</label>
                  <input type="text" class="form-control" name="username" placeholder="ID">

                </div>
                <div class="form-group">
                  <label class="form-label mt-4">Contraseña</label>
                  <input type="password" class="form-control"  name="pass" placeholder="Enter email">
                </div>
            <button type="submit" class="btn btn-primary">Logear</button>
        </fieldset>
    </form>
</body>
</html>
{% endblock %}