{% extends "layout.html" %}
{% block body %}


<head>
    <meta charset="UTF-8">
    <title>Presupuestos</title>
</head>
<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPres">
  Nuevo Presupuesto
</button>
<a type="button" class="btn btn-success" data-toggle="modal" data-target="#addBgt">Generar Proyecto</a>
<br>
<br>
<h1>Historial</h1>
<table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Cliente</td>
                    <td style="background: dimgray" >Total Presupuestado</td>
                    <td style="background: dimgray">Estado</td>
                    <td style="background: dimgray">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for pr in pres %}
                <tr>
                    <td>{{pr.oname}}</td>
                    <td>{{pr.Cliente.name}} - {{pr.Cliente.ruc}}</td>
                    <td>{{pr.budget}}</td>
                    <td>{{pr.status}}</td>
                    <td>
                        <a type="button" class="btn btn-warning" href="/cargaPres/{{pr.oname}}">Detalles</a>
                        {% if pr.status == "Abierto"%}
                        <a type="button" class="btn btn-danger" href="/changeStatus/{{pr.oname}}">Cerrar</a>
                        {% endif %}
                        {% if pr.status == "Cerrado"%}
                        <a type="button" class="btn btn-info" href="/changeStatus/{{pr.oname}}">Abrir</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>


<!-- Modal -->
        <div class="modal" id="newPres">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Nuevo Presupuesto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <form action="/add_pres" method="POST">
                    <div class="form-group">
                        <label class="form-label mt-4">Nombre de la Obra</label>
                        <input type="text" class="form-control" name="oname">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Cliente</label>
                        <select class="form-select" id="exampleSelect1" name="client">
                            {% for client in clients %}
                                <option>{{client.name}}/{{client.ruc}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a type="button" class="btn btn-warning" href="/clients">Añadir Clientes</a>
                 <div class="form-group">
                    <label class="form-label mt-4">Direccion</label>
                    <input type="text" class="form-control" name="addr">
                </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  </form>
                </div>
                </div>
            </div>
        </div>
</body>

<div class="modal" id="addBgt">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Establecer Pagos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/generarProy" method="POST">
            <div class="form-group">
            <label class="form-label mt-4">Proyecto</label>
            <select class="form-select" name="pname">
              {% for pr in pres %}
                  <option>{{pr.oname}}</option>
              {% endfor %}
            </select>
          </div>
            <div class="form-group">
            <label class="form-label mt-4">Cuotas</label>
            <select class="form-select" name="cuota">
              <option>1</option>
              <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-label mt-4">IVA</label>
            <select class="form-select" name="iva">
              <option>5</option>
              <option>10</option>
              <option>Sin IVA</option>
            </select>
          <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>


      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}