{% extends "layout.html" %}
{% block body %}


<head>
    <meta charset="UTF-8">
    <title>Presupuestos</title>
</head>
<body>
<br>
<br>
<h1>Historial</h1>
<table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Cliente</td>
                    <td style="background: dimgray" >Direccion</td>
                    <td style="background: dimgray">Fecha de Inicio</td>
                    <td style="background: dimgray">Presupuesto</td>
                    <td style="background: dimgray">Estado</td>
                    <td style="background: dimgray">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for py in pys %}
                <tr>
                    <td>{{py.pname}}</td>
                    <td>{{py.Cliente.name}} - {{py.Cliente.ruc}}</td>
                    <td>{{py.addr}}</td>
                    <td>{{py.fechaInicio}}</td>
                    <td>{{py.budget}}</td>
                    <td>{{py.status}}</td>
                    <td>
                        <a type="button" class="btn btn-warning" href="/deetsProy/{{py.pname}}">Detalles</a>
                        <a type="button" class="btn btn-danger" >Cerrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>

</body>


{% endblock %}