<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles Presupuestos</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
        <h2>{{proy.pname}}</h2>
        <br>
        <h4>Reporte: {{fr}}</h4>
        <br>
        <br>
        <table>

        <tbody>
        <tr>
        <td>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Detalles de la Obra</div>
              <div class="card-body">
                <p class="card-text">
                    Fecha Inicio: {{proy.fechaInicio}}<br>
                    Fecha Fin: {{proy.fechaFin}}<br>
                    Direccion: {{proy.addr}}<br>
                    Capataz: {{proy.Capataz.name}} - Cedula: {{proy.Capataz.ced}}<br><br></p>
            </div>

        </td>
            <td>
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">Detalles del Cliente</div>
                  <div class="card-body">
                    <p class="card-text">
                        Nombre: {{proy.Cliente.name}}<br>
                        Tipo: {{proy.Cliente.type}}<br>
                        RUC: {{proy.Cliente.ruc}}<br>
                        Email: {{proy.Cliente.email}}<br>
                        Ciudad: {{proy.Cliente.ciudad}}<br>
                    </p>
                  </div>
                </div>
                </td>
         <td>
             <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Detalles Financieros</div>
              <div class="card-body">
                <p class="card-text">
                    Valor Presupuestado: {{proy.presupuestado}}<br>
                    Gasto Total: {{proy.gastos}}<br>
                    Cuotas Pagadas: {{pay.Cantidad}}<br>
                    Total Pagos: {{pay.Suma}}<br><br>
                </p>
              </div>
            </div>

            </td>
        </tr>
        </tbody>
        </table>
        <br>
    {% if proy.TrabajosR is defined and proy.TrabajosR|length > 0 %}
        Los siguientes trabajos no se completaron: <br>
        <table class="table table-striped table-hover table-bordered table-info">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Materiales</td>
                    <td style="background: dimgray" >Descripcion</td>
                </tr>
            </thead>
            <tbody>
                {% for tr in proy.TrabajosR %}
                <tr>
                    <td>{{tr.name}}</td>
                    <td>
                        {% for mt in tr.Materiales %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>{{tr.desc}}</td>
                </tr>
                {% endfor %}
            </tbody>
</table>
    {% else %}
        Se pudieron completar todos los trabajos. <br>
    {% endif %}

    {% if proy.TrabajosD is not none and proy.TrabajosD|length > 0 %}
        Trabajos Completados:
        <table class="table table-striped table-hover table-bordered table-info">
            <thead>
                <tr>
                    <td style="background: dimgray">Descripcion</td>
                    <td style="background: dimgray" >Mats. Ponderados</td>
                    <td style="background: dimgray" >Mats. Utilizados</td>
                    <td style="background: dimgray" >Precio Total</td>
                    <td style="background: dimgray" >Obreros Responsables</td>
                </tr>
            </thead>
            <tbody>
                {% for tr in proy.TrabajosD %}
                <tr>
                    <td>{{tr.tpname}}</td>
                    <td>
                        {% for mt in tr.matsNec %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% if tr.matsDisp%}
                        {% for mt in tr.matsDisp %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{tr.precioTotal}}</td>
                    <td>
                        {% for ob in tr.Obreros %}
                            {{ob.Nombre}}/{{ob.Ocupacion}}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>
    {% endif %}
    {% if inpro is defined and inpro|length > 0 %}
        Los siguientes trabajos se estaban realizando, pero no se pudieron terminar:<br>
        </table>
<table id="tablaJobsP" class="table table-striped table-hover table-bordered table-info">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Materiales Asig.</td>
                    <td style="background: dimgray" >FechaInicio</td>
                </tr>
            </thead>
            <tbody>
                {% for tr in inpro %}
                <tr>
                    <td>{{tr.tpname}}</td>
                    <td>
                        {% for mt in tr.matsDisp %}
                            {{mt.name}}:{{mt.cant}}<br>
                        {% endfor %}
                    </td>
                    <td>{{tr.fechaInicio}}</td>

                </tr>
                {% endfor %}
            </tbody>
</table>
    {% endif %}

<br>

        {% if current_user.depo is not none %}
        Estado del deposito:<br>
        <table class="table table-striped table-hover table-bordered table-info">
            <thead>
                <tr>
                    <td style="background: dimgray">Nombre</td>
                    <td style="background: dimgray" >Cantidad</td>
                </tr>
            </thead>
            <tbody>
            {% for key, value in current_user.depo.items() %}
            <tr>

                    <td>{{ key }}</td>
                    <td>{{ value }}</td>

            </tr>
            {% endfor %}
            </tbody>
         </table>
        {% else %}
            No hay nada en el deposito.
        {% endif %}
<br>
<br>
<div><button onClick="window.print()" class="btn btn-outline-success">Imprimir
</button></div>
<br>
{% if proy.fechaFin == None%}
    <a type="button" class="btn btn-outline-warning" href="/deetsProy/{{proy.pname}}">Regresar</a>
{% else %}
    <a type="button" class="btn btn-outline-warning" href="/proy">Regresar</a>
{% endif %}
</body>
</html>